/* Style for All */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Common Styels */
.textColor {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

/* Navber Section */
.navber {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 86.041px;
    height: 40px;
    margin-right: 20px;
}

.logo h2 {
    font-size: 45px;
    font-weight: 700;
}

.navber ul {
    display: flex;
    align-items: center;
}

.navber ul li {
    list-style-type: none;
    margin-right: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.navber ul li:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

.followUsBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.followUsBtn h5 {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.followUsBtn h5:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

.followUsBtn i:hover {
    cursor: pointer;
    font-size: 20px;
}

/* Goat Section */

.gotContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(/images/Group\ 14.png);
    background-repeat: no-repeat;
}

.goatDescription h3 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.goatDescription h1 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 19px;
}

.goatDescription p {
    display: inline-block;
    margin-bottom: 17px;
    margin-left: 6px;
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
}

.signinBtn {
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 24px;
    margin-right: 24px;
}

.goRogueBtn {
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/* We Are Gamer Section */

.gamerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.gamerDescriptin {
    text-align: right;
}

.gamerDescriptin h3 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.gamerDescriptin p {
    max-width: 520px;
    font-size: 18px;
    color: #534C64;
    margin-bottom: 32px;
}

.knowMoreBtn {
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.gamerDescriptin h6 {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.gamerDescriptin h4 {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

/* Online games Funny Videos Section */

.funnyVideoContainer h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
}

.funnyVideoContainer p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    margin-bottom: 48px;
}

.funnyVideos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.video {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video1 {
    background-image: url(/images/Rectangle\ 4.png);
}

#video2 {
    background-image: url(/images/Rectangle\ 5.png);
}

#video3 {
    background-image: url(/images/Rectangle\ 7.png);
}

#video4 {
    background-image: url(/images/Rectangle\ 6.png);
}

.funnyVideoWatchNow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.funnyVideoWatchNow i {
    font-size: 30px;
}

.funnyVideoWatchNow p {
    font-size: 20px;
    font-weight: 600;
}

.funnyVideo p {
    text-align: left;
    margin-top: 24px;
    max-width: 342px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.funnyVideoWatchNow {
    visibility: hidden;
}

.video:hover {
    cursor: pointer;
    border: 5px solid #F948B2;

}

.video:hover .funnyVideoWatchNow {
    visibility: visible;
    background-color: rgba(5, 5, 5, 0.548);
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.3s ease;
    border-radius: 10px;
}

/* Play Instant Section */

.playInstantlySection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: right;
    margin-top: 120px;
    margin-bottom: 120px;
}

.playInstantlyDescription h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.playInstantlyDescription p {
    max-width: 353px;
    color: #534C64;
    font-size: 18px;
}

.playInstantlyImges {
    position: relative;
}

.playInstantImg2 {
    position: absolute;
    left: -160px;
    bottom: -100px;
}

/* Carrere section */

.careerSection {
    display: flex;
    align-items: center;
    justify-content: right;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    margin-bottom: 120px;
}

.careerDescription h1 {
    font-size: 48px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 24px;
}

.careerDescription p {
    max-width: 680px;
    color: #FFF;
    font-size: 18px;
    margin-bottom: 34px;
}

.careeresName {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.careereName h4 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.creereD h4 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}

.seeAllPositionBtn {
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    color: #ff22a3;
    margin-top: 40px;
}

/* Games Section */

.gamesSection {
    display: grid;
    grid-template-columns: repeat(5, 243px);
    justify-content: center;
    row-gap: 57px;
    margin-bottom: 120px;
}


.gamesSection .item6 {
    margin-left: 150px;
}

.gamesName {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 243px;
    border-radius: 50px;
}

.gamesName h5 {
    margin-left: 15px;
}

.gamesName:hover {
    border: 1.5px solid var(--Linear, #FF42A5);
}

.gamesName:hover h5{
    color: #ff22a3;
}

/* Footer Section */

footer{
    height: 636px;
    background: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerLogo{
    display: flex;
    margin-bottom: 63px;
}

.footerLogo h1{
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    margin-left: 20px;
}

.footerMiniNav{
    display: flex;
    gap: 60px;
    margin-bottom: 67px;
}

.footerMiniNav a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.footerSocial {
    display: flex;
    gap: 40px;
    margin-bottom: 64px;
}

.footerSocial i{
    font-size: 50px;
}

.footerTramCondition{
    display: flex;
    gap: 60px;
    margin-bottom: 28px;
}

.footerTramCondition a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

footer p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}